<template>
	<div>
		<div class="container">
			<div class="row">
				<div class="col-md">
					<AppItemList
						v-bind:items="items.prefix"
						title="Prefixos"
						type="prefix"
						v-on:addItem="addItem"
						v-on:deleteItem="deleteItem"
					></AppItemList>
				</div>
				<div class="col-md">
					<AppItemList
						v-bind:items="items.suffix"
						title="Sufixos"
						type="suffix"
						v-on:addItem="addItem"
						v-on:deleteItem="deleteItem"
					></AppItemList>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md">
					<h5>
						Domínios
						<span class="badge badge-info">{{ domains.length }}</span>
					</h5>
					<div class="card">
						<div class="card-body">
							<ul class="list-group">
								<li class="list-group-item" v-for="domain in domains" v-bind:key="domain">{{ domain }}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import axios from "axios/dist/axios";
import AppItemList from "./AppItemList";

export default {
	name: "app",
	components: {
		AppItemList
	},
	data() {
		return {
			items: {
				prefix: [],
				suffix: []
			}
		};
	},
	methods: {
		addItem(item) {
			axios({
				url: "http://localhost:4000",
				method: "post",
				data: {
					query: `
						mutation($item: ItemInput) {
							newItem: saveItem(item: $item){
								id
								type
								description
							}
						}
					`,
					variables: {
						item
					}
				}
			}).then(response => {
				const query = response.data;
				this.items[item.type].push(query.data.newItem);
			});
		},
		deleteItem(item) {
			axios({
				url: "http://localhost:4000",
				method: "post",
				data: {
					query: `
						mutation($id: Int) {
							deleted: deleteItem(id: $id)
						}
					`,
					variables: {
						id: item.id
					}
				}
			}).then(() => {
				this.getItems(item.type);
			});
		},
		generate() {
			this.domains = [];
			for (const prefix of this.items.prefix) {
				for (const suffix of this.items.suffix) {
					this.domains.push(prefix + suffix);
				}
			}
		},
		getItems(type) {
			axios({
				url: "http://localhost:4000",
				method: "post",
				data: {
					query: `
						query($type: String) {
							items: items (type: $type) {
								id
								type
								description
							}
						}
					`,
					variables:{
						type
					}
				}
			}).then(response => {
				const query = response.data;
				this.items[type] = query.data.items;
			});
		}
	},
	computed: {
		domains() {
			const domains = [];

			for (const prefix of this.items.prefix) {
				for (const suffix of this.items.suffix) {
					domains.push(prefix.description + suffix.description);
				}
			}

			return domains;
		}
	},
	created() {
		this.getItems("prefix");
		this.getItems("suffix");
	}
};
</script>

<style>
</style>
